services:
  db:
    image: postgres:15
    container_name: marketplace-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: marketplace
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marketplace-api
    restart: always
    depends_on:
      - db
    ports:
      - "3333:3333"
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "yarn dev | npx pino-pretty --colorize --levelFirst"
  
  studio:
    image: node:20-alpine
    container_name: prisma-studio
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    depends_on:
      - db
    env_file:
      - .env
    command: sh -c "npx prisma studio --port 5555"
    ports:
      - "5555:5555"

volumes:
  db_data:
